#IDE's
.idea
nbproject/*
.vscode
.settings
.buildpath
.project

#composer
/vendor/*

#volatile files
var/cache/files/*
var/cache/views/*
var/proxies/*
src/Models/Proxies/*

#others
.phpunit.result.cache
phpunit.xml.bak
html/

