<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory>./src/Services/</directory>
      <directory>./src/Helpers/annotations/</directory>
      <directory>./src/Listeners/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Gvera's suite">
      <directory suffix=".php">./tests/</directory>
      <exclude>./tests/Services/ThrottlingServiceTest.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
