<form action="/forgotpassword/new" method="POST">
    <p>Please input your email to retrieve generate a new password.</p>
    <input type="email" name="email" placeholder="asd@asd.com" />
    <input type="submit" />
</form>